# ----------------------------
# Python system files
# ----------------------------
__pycache__/
*.py[cod]
.ipynb_checkpoints/

# ----------------------------
# Virtual environments
# ----------------------------
.env/
.venv/
venv/

# ----------------------------
# Data and results (archived on Zenodo)
# ----------------------------
input_data/
results/
figures/

# GIS data
shapefile/
*.shp
*.shx
*.dbf
*.prj
*.cpg

# ----------------------------
# Large or temporary files
# ----------------------------
*.csv
*.xlsx
*.zip
*.tar.gz

# ----------------------------
# OS files
# ----------------------------
.DS_Store
Thumbs.db
